<!DOCTYPE html>

<html>
<head>
	<title>WikiSports</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">	
<style>
	.header-box {
	  border: 1px solid #000;
	  width: 85%;
	  margin: 5em auto 7em;
	  display:inline-block;
	}
	body {
		text-align: center;
	}
	.categories {
		margin-left:22%;
	}

	</style>
</head>
<body>
	<div class="container">


	<div class="container">
	<div class="pure-g wrapper">

		<header class="pure-u-1">
			<div class="header-box">
			<h1>WikiSports</h1>
			<nav class="pure-menu pure-menu-horizontal pure-u-1">
				<a href="/wiki" class="pure-menu-link"><p class="pure-menu-item">Home</p></a><a href="/wiki/new" class="pure-menu-link"><p class="pure-menu-item">New</p></a><a href="/wiki/category" class="pure-menu-link"><p class="pure-menu-item">Categories</p></a><a href="/wiki/search" class="pure-menu-link"><p class="pure-menu-item">Search</p></a>
			</nav>
			</div>
		</header>

		<h3 class="pure-u-1">Categories: </h3>
			<div class="categories">
				<a href="/wiki/category/baseball" class="pure-u-1-4"><p>Baseball</p></a>
				<a href="/wiki/category/basketball" class="pure-u-1-4"><p>Basketball</p></a>
				<a href="/wiki/category/boxing" class="pure-u-1-4"><p>Boxing</p></a>
				<a href="/wiki/category/football" class="pure-u-1-4"><p>Football</p></a>
				<a href="/wiki/category/golf" class="pure-u-1-4"><p>Golf</p></a>
				<a href="/wiki/category/lacrosse" class="pure-u-1-4"><p>Lacrosse</p></a>
				<a href="/wiki/category/running" class="pure-u-1-4"><p>Running</p></a>
				<a href="/wiki/category/soccer" class="pure-u-1-4"><p>Soccer</p></a>
				<a href="/wiki/category/swimming" class="pure-u-1-4"><p>Swimming</p></a>
				<a href="/wiki/category/tennis" class="pure-u-1-4"><p>Tennis</p></a>
				<a href="/wiki/category/ufc" class="pure-u-1-4"><p>UFC</p></a>
				<a href="/wiki/category/volleyball" class="pure-u-1-4"><p>Volleyball</p></a>
				<a href="/wiki/category/other" class="pure-u-1-4"><p>Other</p></a>
			</div>


		</div>
	</div>
	</div>
 	</div>
		<br><br><footer class="pure-u-1">
		      <p>&copy; 2015</p>
		</footer>
</body>
</html>